# Rust build artifacts
/target/
**/target/


# Editor / OS temporary files
.vscode/
.vscode/settings.json
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp

# Backup / compiled outputs
*.o
*.a
*.so
*.dylib
*.dll
*.exe

# Logs
*.log
